.main-container .main{
	margin: 20px;
	margin-top: 15px;
}

/* header homepage */
.col-left-first{display: none;}

/*navigation*/

.col-left.sidebar h4{  
	text-align: center;
  	padding-top: 5px;
	background-color: #0000EE;
	padding: 10px;
	font-size: 12px;
	color:white;
}

.col-left.sidebar li{
	list-style: none;
    padding-bottom: 6px;
    padding-top: 5px;
}
.col-left.sidebar li.level0 {
	position: relative;
	text-align: center;
}
.col-left.sidebar li.parent.level0:not(.first):hover {	
	background-color: #0000EE;
	background-image: url(../images/arrow-homepage-megamenu.png) ;
	background-repeat: no-repeat;
	background-position: right;
}

.col-left.sidebar li:hover,
.col-left.sidebar li.parent.level0:not(.first):hover  {
 	background-color: #0000EE;
}
.col-left.sidebar li.level1:hover{
	background-color: white;
}
.col-left.sidebar li.level1:hover li a{
	color:black;
}
.col-left.sidebar li:hover a{
	color: white;
}
.col-left.sidebar li:hover li.level1 a{
	color: black;
}
.col-left.sidebar li:hover li.level1:hover a{
	color: #0000EE;	
}
.col-left.sidebar li.level0:not(.first) ul.level0 {
	display: none;
	position: absolute;
	top: -41px;
	left: 157px;
	width: 229px;
	padding: 20px;
	
	border: solid 1px #cccccc;
	border-left-width: 10px;
	border-left-color: #008800;
	
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	
	-webkit-box-shadow: 4px 1px 33px -2px rgba(0,0,0,0.75);
	-moz-box-shadow: 4px 1px 33px -2px rgba(0,0,0,0.75);
	box-shadow: 4px 1px 33px -2px rgba(0,0,0,0.75);
}
.col-left.sidebar li.level0:not(.first):hover ul.level0 {
	display: block;
	background: white;
	z-index: 99;
}
.col-left.sidebar li.level0:not(.first) li.level1 a {
	font-weight: bold;
}
.col-left.sidebar li.level0:not(.first) li.level2 a {
	font-weight: normal;
}
.col-left.sidebar li.level2 {
	border-bottom: 1px solid #e0e0e0;
}
.col-left.sidebar li.level2 a {
	font-weight: normal;
}
.col-left.sidebar li a{
	color: black;
	font-weight: bold;
}
.col-left{
	width: 18%;
	background-color: white;
	padding: 10px;
}


/*main*/
.col-main{width: 81%;}
.col-main .item .actions,
.col-main .view-mode{display: block;}
.pager{
	float: left;
	margin-right: 100px;;
}
.sorter > .sort-by .sort-by-switcher{  background-image: url(../images/icon_sprite.png);}

h2.product-name a:hover, 
h3.product-name a:hover, 
h4.product-name a:hover, 
h5.product-name a:hover, 
p.product-name a:hover,
h2.product-name a, 
h3.product-name a, 
h4.product-name a, 
h5.product-name a, 
p.product-name a{
	color: black;
}
h2.product-name a:hover, 
h3.product-name a:hover, 
h4.product-name a:hover, 
h5.product-name a:hover, 
p.product-name a:hover{text-decoration: underline;}

.col2-left-layout .col-main{
	background-color: white;
	padding: 10px;
}

.toolbar-bottom .toolbar{margin-bottom: 0px;}
.add-to-links{display: none;}