body .page{background-color: #0000EE;}
body .header-language-background{display: none;}
.cms-no-route .main{
    max-width: 900px;
    margin: 0 auto;
}
body .saving{
    position: fixed;
    bottom: 38%;
    right: 1%;
    background: url(../images/1713.png) no-repeat right center;
    width: 170px;
    height: 170px;
    background-position: 0 0;
    background-size: 170px 170px;
}
body .saving:hover{
    background: url(../images/1713-2.png) no-repeat right center;
    width: 170px;
    height: 170px;
    background-position: 0 0;
    background-size: 170px 170px;
}
.clear{
    clear:both;
}
.cms-index-index .products-grid .actions{display: block;}
header, .main-container.col1-layout, .footer-container, .main-container,
.header-language-background{
	background-color: #008800;
}

.col-main.col-main2{width: 100%;}
.main{
	min-height: 280px;
}

.category-title h1, body.catalogsearch-result-index .page-title h1,
.page-title h1, .page-title h2, .product-name h1, .product-name .h1,
h2, .h2,
body, button, input, select, table, textarea,
form .form-instructions,
.cms-page-view .std li, .cms-no-route .std li{color: black;}

.button:hover, 
.cart-table .product-cart-actions .button:hover,
#co-shipping-method-form .buttons-set .button:hover, 
.footer .button:hover{
	background: rgba(0, 0, 238, 0.69);
}

.button, 
.cart-table .product-cart-actions .button, 
#co-shipping-method-form .buttons-set .button, 
.footer .button{
	background: #0000EE;
}

#header-nav {display: none;}
.breadcrumbs li, .breadcrumbs strong, .breadcrumbs a,.breadcrumbs a:hover{
	color: black;
    font-weight: bold;
}

.breadcrumbs{
	margin-left:20px;
}

.main-container, .footer{max-width: 1024px;}

.price-box .price, .price{color: black;}