.footer-container{max-width: 1024px;}
.footer{
	margin:0 auto;
	border-top: 1px solid #ededed;
}
.footer div div.text{
	display: block;
	width: 300px;
	margin-left: 20px;
	margin-bottom: 40px;
	float: left;
}
.footer div div.text-icon{display: inline-block;}
.footer div div.text-icon span{float: left;}
.footer div div.text-icon div{
	float: left;
	position: relative;
	top: -12px;
	margin-left: 10px;
}
.footer div div.visa{
	background-image: url(../images/visa.jpg);
	background-size: 66px;
	background-repeat: no-repeat;
	height: 40px !important;
	width: 65px;
	margin-right: 4px;
}
.footer div div.master{
	background-image: url(../images/master.png);
	background-size: 66px;
	background-repeat: no-repeat;
	height: 40px !important;
	width: 65px;
	margin-right: 4px;
}

.footer-content li, .footer-content li a {color: black;}
.footer-content li{font-weight: bold;}
.footer-content li a{font-weight: normal;}
.footer-container .footer-subscribe {
	display: none;
}

.footer-content{
	float: left;
	margin:20px;
}

.footer address{color: black;}