
/* pdp.css */
.main-container .main{
	margin: 20px;
	margin-top: 15px;
}

/*navigation*/

.col-left.sidebar h4{
	margin-top: 5px;
	text-align: center;
}
.col-left.sidebar h4 span{
	background-color: #FFFF00;
	padding: 10px;
	font-size: 12px;
	color:black;
}
.col-left.sidebar li.level0 {
	position: relative;
	text-align: center;
}
.col-left.sidebar li.parent.level0:not(.first):hover {
	background: url(../images/arrow-homepage-megamenu.png) no-repeat right center;
}

.col-left.sidebar li.level0:not(.first) ul.level0 {
	display: none;
	position: absolute;
    top: -42px;
    left: 157px;
	width: 229px;
	padding: 20px;
	
	border: solid 1px #cccccc;
	border-left-width: 10px;
	border-left-color: #FFFF00;
	
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	
	-webkit-box-shadow: 4px 1px 33px -2px rgba(0,0,0,0.75);
	-moz-box-shadow: 4px 1px 33px -2px rgba(0,0,0,0.75);
	box-shadow: 4px 1px 33px -2px rgba(0,0,0,0.75);
}
.col-left.sidebar li.level0:not(.first):hover ul.level0 {
	display: block;
	background: white;
	z-index: 99;
}
.col-left.sidebar li.level0:not(.first) li.level1 a {
	font-weight: bold;
}
.col-left.sidebar li.level0:not(.first) li.level2 a {
	font-weight: normal;
}
.col-left.sidebar li.level2 {
	border-bottom: 1px solid #e0e0e0;
}
.col-left.sidebar li.level2 a {
	font-weight: normal;
}
.col-left{
    width: 18%;
    background-color: white;
    padding: 10px;
}
.col-left.sidebar li{
	margin-bottom: 10px;
}
.col-left.sidebar li a{color: black;}

/*main*/
.col-main{width: 81%;}
.col2-left-layout .col-main{
	background-color: white;
    padding: 10px;
}

#customer-reviews dl, #customer-reviews dl dd, #customer-reviews dl dd .ratings-table, 
#customer-reviews dl dd .review-meta {
    font-family: Arial, Helvetica, sans-serif;
}
#customer-reviews h2, #customer-reviews dl dd .review-meta { color: #000000;}
#header-nav #nav:hover .nav-primary { z-index: 101;}

.product-img-box, 
.product-view .product-shop, 
.product-view .add-to-cart-wrapper {
	width: 50%;
	padding: 0;
	float: left;
	border-width: 1px 0 1px 1px;
	min-height: 470px;
}
.product-view .add-to-cart-wrapper {
	border-right: 1px solid #e2e2e2;
}

.product-image-gallery {
	padding-top: 30px;
}
.product-img-box .product-image, 
.product-image, .no-touch .product-img-box .product-image:not(.zoom-available):hover {
	border: 0;
}
.product-img-box .product-image img {
    max-width: none;
    max-height: none;
}
.product-img-box .product-image img#image-main {
	width: 100%;
    height: auto;
}

.product-view .product-shop {
	position: relative;
	padding-bottom: 50px;
}
.product-view .product-shop .product-name, 
.product-view .product-shop .product-name .h1 {
	float: none;
}
.product-view .product-shop .product-name, 
.product-shop-right-header {
	background: url(../images/bg-category-toolbar.png) repeat-x left center;
	height: 40px;
	padding: 10px 25px;
}
.product-view .product-shop .product-name .h1, 
.product-shop-right-header .h1 {
	color: black;
	font-size: 16px;
	font-weight: bold;
	text-transform: none;
}
.product-shop .product-description {
	padding: 10px 25px;
	color: black;
}
.product-shop .std p, 
.product-shop .std ul {
	margin: 0;
	color: black;
	font-size: 13px;
}
.product-shop .std ul {
	margin-top: 10px;
	list-style-type: disc;
	padding-left: 16px;
}
.product-view .product-shop .extra-info, 
.product-view .product-shop .price-info {
	width: 100%;
	max-width: none;
	padding-right: 0;
	margin-bottom: 0;
}
.product-view .extra-info 			dl > dt, 
.product-view .extra-info 			dl > dd, 
.product-view .product-availability dl > dt, 
.product-view .product-availability dl > dd, 
.product-view .price-info 			dl > dt, 
.product-view .price-info 			dl > dd {
	float: left;
}
.product-view .extra-info 			dl > dt, 
.product-view .product-availability dl > dt, 
.product-view .price-info 			dl > dt {
	width: 30%;
	padding-left: 25px;
	position: relative;
	color: black;
	font-size: 13px;
}
.product-view .extra-info 			dl > dt em, 
.product-view .product-availability dl > dt em, 
.product-view .price-info 			dl > dt em {
	font-style: normal;
	position: absolute;
	right: 0;
}
.product-view .extra-info 			dl > dd, 
.product-view .product-availability dl > dd, 
.product-view .price-info 			dl > dd {
	width: 70%;
	padding-left: 5px;
}
.product-view .product-shop .extra-info {
	margin-bottom: 10px;
}
.product-view .product-shop .extra-info .no-rating {
	font-size: 12px;
	line-height: 20px;
}
.product-view .product-shop .price-info {
	float: none;
	padding-left: 0;
	text-align: left;
	margin-top: 10px;
}
.product-view .product-shop .price-box .regular-price .price {
	color: black;
	font-size: 13px;
}
.product-view .product-shop .ratings {
	padding: 0;
	margin: 0;
}
.product-view .product-essential .extra-info .ratings .rating-box {
	margin-top: 3px;
}
.rating-amount a {
	color: #c6c6c6;
	font-size: 12px;
}
.rating-links a, 
.product-view .product-shop .extra-info .no-rating a {
	color: #616161;
	font-size: 13px;
	text-decoration: underline;
}
.product-view .product-shop .availability { 
	font-size: 13px;
	text-transform: none;
	font-weight: bold;
}
.price-box .old-price, 
.price-box .special-price {
	display: block;
}
.price-box .special-price {
	padding-left: 0;
}
.price-box .price {
	font-size: 13px;
}
.product-view .product-shop .price-box .old-price, 
.product-view .product-shop .price-box .special-price, 
.product-view .product-shop .price-box .regular-price {
	padding-top: 2px;
}
.price-box .old-price .price {
	color: black;
}
.product-view .product-shop .price-box .special-price .price {
	color: #ed1e18;
	font-size: 22px;
}
.product-view .sharing-links {
	position: absolute;
	bottom: 20px;
	left: 50%;
	margin-left: -128px;
}
.product-shop .buttons-set .back-link { 
    width: 100%;
    text-align: center;
}

.required-info {
	float: right;
	color: #848484;
}
.required-info em {
	font-style: normal;
	color: red;
}
.product-options {
	border: 0;
	padding: 10px 25px 15px;
}
.product-options dl label {
	color: black;
}
.product-options p.required { display: none;}
.product-options dd {
	border-bottom: 0;
}
.product-options-bottom {
	background: 0;
	border: 0;
	border-top: 1px solid #e2e2e2;
}
.product-view .add-to-box {
	padding: 20px 20px 0;
}
.product-view .add-to-cart {
	border-bottom: 0;
    margin-bottom: 0;
}
.product-view .add-to-cart .qty-wrapper, 
.product-view .add-to-cart .qty-wrapper label, 
.product-view .add-to-cart .qty-wrapper .qty {
	float: none;
}
.product-view .add-to-cart .qty-wrapper {
	text-align: center;
}
.product-view .add-to-cart-buttons {
	float: none;
	margin: 0 auto;
	width: 230px;
}
.add-to-cart-buttons .button span, 
.add-to-cart-buttons .button:hover span { color: #ffffff;}
.product-view .add-to-cart-buttons .button.btn-update-cart, 
.product-view .add-to-cart-buttons .button.btn-update-cart:hover { background: #fb322b url(../images/icon-button-shop.png) no-repeat 35px 16px;}
.product-view .add-to-cart-buttons .button, 
.product-view .add-to-cart-buttons .button:hover {
   background: #FF0000;
   height: 50px;
   width: 100%;
   font-size: 20px;
   border: 1px solid black;
   border-width: 0 1px 1px 0;
}
.product-view .add-to-links { 
    float: none;
    margin-top: 10px;
}
.product-view .add-to-links a {
	display: block;
	border: 1px solid #f0f0f0;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    font-size: 12px;
    padding: 6px 10px;
    margin-bottom: 7px;
    text-decoration:none;
    display:inline-block;
    color: #000000;
    background-color: #eeeeee;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#ffffff), to(#eeeeee ));
    background-image: -webkit-linear-gradient(top, #ffffff, #eeeeee );
    background-image: -moz-linear-gradient(top, #ffffff, #eeeeee );
    background-image: -ms-linear-gradient(top, #ffffff, #eeeeee );
    background-image: -o-linear-gradient(top, #ffffff, #eeeeee );
    background-image: linear-gradient(to bottom, #ffffff, #eeeeee );
    filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#ffffff, endColorstr=#eeeeee );
    width: 114px;
    min-height: 30px;
    white-space: normal;
    text-align: center;
}
.product-view .add-to-links a:hover { color: #ff0000;}
.product-view .add-to-links li:last-child {
	float: right;
}
.product-view .add-to-links li:last-child a {
	border-right: 1px solid #e2e2e2;
}

/* tabs */

.product-collateral .toggle-tabs, 
.product-collateral .toggle-tabs li.current {
	border: 1px solid #e2e2e2;
}
.product-collateral .toggle-tabs {
	background: url(../images/bg-pdp-tabs.png) repeat-x left center;
	height: 58px;
}
.product-collateral .toggle-tabs li.current {
	margin: 10px 10px 0;
	border-bottom: 0;
}
.product-collateral .toggle-tabs li > span {
	height: 45px;
	padding-top: 5px;
	margin-top: 10px;
	font-size: 14px;
	text-transform: none;
	color: #969696;
}
.product-collateral .toggle-tabs li:hover span { color: #ff0000;}
.product-collateral .toggle-tabs li.current span {
	margin-top: 0;
	color: black;
}
.product-collateral > dl > dd {
	padding: 17px;
	color: black;
}

/* share this */
.stButton { z-index: 0 !important;}
.stButton .st-twitter-counter, 
.st_twitter_hcount .stButton_gradient {
	height: 22px !important;
}

/* zoom */
.catalog-product-view .zoomWindowContainer .zoomWindow {
	width: 626px !important;
	height: 442px !important;
	top: -40px !important;
	left: 281px !important;
	border: 1px solid #e2e2e2 !important;
}
.zoomWindow { 
    top: -30px !important;
    left: 320px !important;
}
.product-image-gallery { position: relative;}
.product-image-overlay {
    position: absolute;
    top: 0;
    left:  0;
    width: 100%;
    height: 100%;
    z-index: 100;
}
.image-magnifier {
    background: url(../images/img-magnifier-product-detail.png) no-repeat center center;
    width: 35px;
    height: 35px;
    position: absolute;
    bottom: 10px;
    right: 30px;
    z-index: 101;
    cursor: pointer;
}

/* label sale and new */
.product-image-gallery .lbl-sale, .product-image-gallery .lbl-new {
    position: absolute;
    top: 10px;
    width: 82px;
    height: 44px;
    color: white;
    padding-top: 7px;
    text-align: center;
    z-index: 100;
    font-size: 20px;
}
.product-image-gallery .lbl-sale {
    right: 10px;
    background: url(../images/img-label-sale-big.png) no-repeat center center;
}
.product-image-gallery .lbl-new {
    left: 10px;
    background: url(../images/img-label-new-big.png) no-repeat center center;
    font-weight: bold;
}

/* product thumbnail slider */
.product-image-thumbs {
	clear: both;
	width: 270px;
	margin: 20px auto;
	position: relative;
}
.product-image-thumbs .owl-prev, 
.product-image-thumbs .owl-next { 
	position: absolute;
	top: 30px;
	height: 27px;
	width: 27px;
	border: 1px solid #e9e9e9;
	text-indent: -99999em;
}
.product-image-thumbs .owl-prev { 
	background: url(../images/arrow-slider-prev.png) no-repeat center center;
	left: -13px;
}
.product-image-thumbs .owl-next { 
	background: url(../images/arrow-slider-next.png) no-repeat center center;
	right: -13px;
}
.product-image-thumbs .owl-carousel .owl-item {
	border: 1px solid #e9e9e9;
}
.product-image-thumbs .owl-carousel .owl-item img {
	margin: 0 auto;	
}

/* review */
#customer-reviews .form-add h3 span { color: #ff0000;}

/* responsive */

@media all and (max-width: 1023px) {
	.product-img-box { width: 100%;}
	.catalog-product-view .zoomWindowContainer .zoomWindow, 
	.zoomContainer .zoomLens, 
	.product-img-box .product-name {
		display: none !important;
	}
	.product-view .product-shop, 
	.product-view .add-to-cart-wrapper {
		width: 50%;
	}
	.product-view .add-to-cart-wrapper { clear: none;}
	.product-view .product-shop .product-name {
		display: block;
	}
	/*.product-view .add-to-box { padding: 0 40px;}*/
		
	#collateral-tabs dt.tab {
		background: url(../images/bg-category-toolbar.png) repeat-x left center;
		height: 40px;
		padding: 10px 25px;
	}
	#collateral-tabs dt.tab span {
		color: black;
		font-size: 16px;
		font-weight: bold;
		text-transform: none;
	}
	#customer-reviews h2, 
	#customer-reviews dl dd .review-meta { color: #fb322b;}
	.product-collateral > dl > dt:after {
		border-left: 4px solid #fb322b;
	}
	.product-collateral.accordion-open > dl > dt.current:after {
		border-top: 4px solid #fb322b;
	}
}

@media all and (max-width: 767px) {
	/*.product-view .add-to-box {
		padding: 0 15px;
	}*/
}

@media all and (max-width: 639px) {
	.product-img-box, 
	.product-view .product-shop, 
	.product-view .add-to-cart-wrapper { min-height: 0;}
	.product-view .product-shop, 
	.product-view .add-to-cart-wrapper {
		width: 100%;
		float: none;
	}
	.product-view .product-shop { clear: both;}
	.product-view .add-to-cart { margin-bottom: 0;}
	.product-view .add-to-links li, 
	.product-view .add-to-links li:last-child { 
		float: none;
		margin: 0 auto;
	}
	.product-view .add-to-links a { width: 190px;}
	.product-view .add-to-links li:first-child a { margin-left: auto;}
    
    .review-summary-table .rating-box .rating-number:after {
        background-image: url(../images/icon_sprite@2x.png);
        background-size: 100px 1000px;
    }
}

@media all and (max-width: 479px) {
	.product-view .add-to-cart .qty-wrapper { margin-right: 0;}
	.product-view .add-to-cart-buttons { width: 230px;}
	.product-view .add-to-cart-buttons .button { margin-right: 5px;}
	/*.product-view .add-to-box { padding: 0 30px;}*/
	.product-view .add-to-links li, 
	.product-view .add-to-links li:last-child {
		float: left;
		margin-left: 15px;
	}
	.product-view .add-to-links a { 
		font-size: 12px;
		width: 110px;
	}
	.product-view .add-to-links li:last-child { 
		float: right;
		margin-left: 0;
	}
}
