body .page{background-color: #C8EEEE;}
body .saving{
	padding: 5px 20px 5px 20px;
	border: 1px solid black;
	position: fixed;
	bottom: 1%;
	right: 5%;
}
.clear{
    clear:both;
}
.cms-index-index .products-grid .actions{display: block;}
header, .main-container.col1-layout, .footer-container{background-color: #008800;}

#header-nav {display: none;}
.breadcrumbs{display: none;}


.main-container, .footer{max-width: 1024px;}


.price-box .price, .price{color: black;}