/* homepage.css */

/* header homepage */

#header-nav {
	display: none;
	width: 256px;
	clear: both;
	border:0px;
}
/* homepage top */

.std {
	border: 0;
	padding: 0;
}

body.cms-home .main-container { padding-top: 0;}
.homepage-top-banner { padding-bottom: 20px;}
.homepage-top-banner img { width: 100%;}
.homepage-top-left, 
.homepage-top-center {
	float: left;
}
.homepage-top-right {
	float: right;
}
.homepage-top-right img{width: 100%;}

.homepage-top-left{
	width: 185px;
	background-color: red;
	margin-right: 20px;
} 
.homepage-top-left h4{  
	text-align: center;
  	padding-top: 5px;
}
.homepage-top-left h4 span{  
	background-color: white;
	padding: 3px;
	border: 1px solid black;
}
.homepage-nav-primary li{text-align: center;}
.homepage-top-right {
	width: 186px;
}
.homepage-top-center {
	width: 61%;
}
.homepage-top-center .owl-pagination {
	background: url(../images/bg-pagination-homepage.png) no-repeat center center;
	position: absolute;
	width: 120px;
	left: 50%;
	margin-left: -60px;
	bottom: -5px;
}

.homepage-top-left dl {
	padding-left: 22px;
}
.homepage-top-left dl dt {
	color: red;
	text-transform: uppercase;
	font-weight: bold;
}
.homepage-top-left em { color: red;}
.homepage-top-left ul { 
	margin-top: 10px;
	margin-bottom: 5px;
}
.homepage-top-left li { margin-bottom: 10px;}
.homepage-top-left a  { color: white;}

.homepage-brands-slider {
	clear: both;
	width: 900px;
	margin: 20px auto;
}
.owl-homepage-brands-slider {
	position: relative;
}
.homepage-brands-slider .owl-prev, 
.homepage-brands-slider .owl-next { 
	position: absolute;
	top: 30px;
	height: 27px;
	width: 27px;
	border: 1px solid #e9e9e9;
	text-indent: -99999em;
}
.homepage-brands-slider .owl-prev { 
	background: url(../images/arrow-slider-prev.png) no-repeat center center;
	left: -13px;
}
.homepage-brands-slider .owl-next { 
	background: url(../images/arrow-slider-next.png) no-repeat center center;
	right: -13px;
}
.homepage-top-center .owl-carousel .owl-item {
	border: 1px solid #e9e9e9;
}
.homepage-top-center .owl-carousel .owl-item img {
	margin: 0 auto;	
	width: 100%;
}

/* homepage top - Category */

.homepage-nav-primary li.level0:hover span{
	background-color: white;
	color: black;
	padding: 3px;
	border: 1px solid black;
}
.homepage-nav-primary li.level0 ul.level0 {
	display: none;
	position: absolute;
	top: -50px;
	left: 190px;
	width: 450px;
	padding: 20px;
	
	border: solid 1px #cccccc;
	border-left-width: 10px;
	border-left-color: #d7ac29;
	
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	
	-webkit-box-shadow: 4px 1px 33px -2px rgba(0,0,0,0.75);
	-moz-box-shadow: 4px 1px 33px -2px rgba(0,0,0,0.75);
	box-shadow: 4px 1px 33px -2px rgba(0,0,0,0.75);
}
.homepage-nav-primary li.level0:hover ul.level0 {
	display: block;
	background: white;
	z-index: 99;
}
.homepage-nav-primary li.level0 li.level1 a {
	font-weight: bold;
}
.homepage-nav-primary li.level0 li.level2 a {
	font-weight: normal;
}
.homepage-nav-primary li.level2 {
	border-bottom: 1px solid #e0e0e0;
}
.homepage-nav-primary li.level2 a {
	font-weight: normal;
}

/* homepage middle */

.homepage-middle-left {
	width: 25%;
	float: left;
}
.homepage-middle-right {
	width: 100%;
}

/* footer */
.footer-container .footer-subscribe {
	display: none;
}
